.section {
  padding: 100px 10em;
}

.section-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-left .text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-right: 100px;
  text-align: left;
  max-width:40%;
}

.text-heading {
  font-weight: 600;
  font-size: 2.5em;
  margin-bottom:20px;
}

.text-info{
    font-size: 1.5em;
}

.section-left .image {
  max-width: none;
  white-space: normal;
  text-align: right;
}

.section-left .image img {
  max-width: 100%;
}

@media screen and (max-width: 720px) {
  .section {
    padding: 45px 30px;
  }

  .section-left {
    flex-flow: row wrap;
  }

  .section-left .text {
    margin-right: 0px;
    max-width: 100%;
  }
}
